<nav class="navbar navbar-dark bg-freshclub">
  <div class="container-fluid">
    <div class="d-flex gap-3 w-100">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasDarkNavbar"
        aria-controls="offcanvasDarkNavbar"
      >
        <i class="fa-solid fa-bars"></i>
      </button>
      <div class="text-center d-flex flex-column justify-content-center w-100">
        <a class="navbar-brand" href="#">FreshClub</a>
        <span class="text-nav">By FreshMart</span>
      </div>
    </div>
    <!--<a class="navbar-brand" href="#">Freshclub</a>-->
  </div>
  <app-sidebar></app-sidebar>
</nav>
