<div class="scroll">
    <ul class="layout-list-categories">
        <li class="item-list-categories">
           <a [routerLink]="['/category']" class="d-flex flex-column justify-content-center align-items-center">
                <img [src]="'assets/img/categoria1.png'" alt="">
                <span>Restaurantes y Cafés</span>
           </a>
        </li>
        <li class="item-list-categories">
            <a [routerLink]="['/category']" class="d-flex flex-column justify-content-center align-items-center">
                <img [src]="'assets/img/categoria2.png'" alt="">
                <span>Moda</span>
            </a>
        </li>
        <li class="item-list-categories">
            <a [routerLink]="['/category']" class="d-flex flex-column justify-content-center align-items-center">
                <img [src]="'assets/img/categoria3.png'" alt="">
                <span>Experiencias</span>
            </a>            
        </li>
        <li class="item-list-categories">
            <a [routerLink]="['/category']" class="d-flex flex-column justify-content-center align-items-center">
                <img [src]="'assets/img/categoria4.png'" alt="">
                <span>Educación</span>
            </a>            
        </li>
        <li class="item-list-categories">
            <a [routerLink]="['/category']" class="d-flex flex-column justify-content-center align-items-center">
                <img [src]="'assets/img/categoria5.png'" alt="">
                <span>Productos y Servicios</span>
            </a>            
        </li>
        <li class="item-list-categories">
            <a [routerLink]="['/category']" class="d-flex flex-column justify-content-center align-items-center">
                <img [src]="'assets/img/categoria6.png'" alt="">
                <span>Healthy</span>
            </a>
            
        </li>
        <li class="item-list-categories">
            <a [routerLink]="['/category']" class="d-flex flex-column justify-content-center align-items-center">
                <img [src]="'assets/img/categoria7.png'" alt="">
                <span>Kids</span>
            </a>            
        </li>
        <li class="item-list-categories">
            <a [routerLink]="['/category']" class="d-flex flex-column justify-content-center align-items-center">
                <img [src]="'assets/img/categoria8.png'" alt="">
                <span>Salud y Belleza</span>
            </a>            
        </li>
    </ul>
</div>