<div class="scroll">
    <ul class="layout-list-categories">
        <li class="item-list-categories">
           <div class="d-flex flex-column justify-content-center align-items-center">
                <img [src]="img" alt="">
                <span>Restaurantes y Cafés</span>
           </div>
        </li>
        <li class="item-list-categories">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <img [src]="img" alt="">
                <span>Moda</span>
            </div>
        </li>
        <li class="item-list-categories">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <img [src]="img" alt="">
                <span>Experiencias</span>
            </div>            
        </li>
        <li class="item-list-categories">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <img [src]="img" alt="">
                <span>Educación</span>
            </div>            
        </li>
        <li class="item-list-categories">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <img [src]="img" alt="">
                <span>Productos y Servicios</span>
            </div>            
        </li>
        <li class="item-list-categories">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <img [src]="img" alt="">
                <span>Healthy</span>
            </div>
            
        </li>
        <li class="item-list-categories">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <img [src]="img" alt="">
                <span>Kids</span>
            </div>            
        </li>
        <li class="item-list-categories">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <img [src]="img" alt="">
                <span>Salud y Belleza</span>
            </div>            
        </li>
    </ul>
</div>