<h5 class="title-category">Restaurantes y Cafés</h5>
<div class="row box-category">
  <div class="col">
    <img
      _ngcontent-iua-c25=""
      alt=""
      class="img-fluid img-category"
      [src]="'assets/img/etiqueta1.jpg'"
    />
    <p class="text-category">Hasta un 35% en toda la carta</p>
  </div>
</div>
<div class="row box-category mt-2">
  <div class="col">
    <img
      _ngcontent-iua-c25=""
      alt=""
      class="img-fluid img-category"
      [src]="'assets/img/etiqueta6.jpg'"
    />
    <p class="text-category">30% en la carta de segundo muelle</p>
  </div>
</div>
