<h5 class="title-coupons">Mis Cupones</h5>
<div class="row box-coupons">
  <div class="col">
    <img
      _ngcontent-iua-c25=""
      alt=""
      class="img-fluid img-coupons"
      [src]="'assets/img/etiqueta1.jpg'"
    />
    <p class="text-coupons">Código:Bauducc00123</p>
  </div>
</div>
<div class="row box-coupons mt-3">
  <div class="col">
    <img
      _ngcontent-iua-c25=""
      alt=""
      class="img-fluid img-coupons"
      [src]="'assets/img/etiqueta14.jpg'"
    />
    <p class="text-coupons">Código:Thermos20</p>
  </div>
</div>
