<div
  class="offcanvas offcanvas-start bg-freshclub"
  tabindex="-1"
  id="offcanvasDarkNavbar"
  aria-labelledby="offcanvasDarkNavbarLabel"
>
  <div class="offcanvas-header d-flex flex-column mt-5">
    <div class="d-flex gap-3 row-perfil">
      <!--<img class="img-usuario" src="/assets/img/usuario.png" alt="" />-->
      <i class="fa-solid fa-user icon-user"></i>
      <div class="col-nombre">
        <span class="text-name">Oreana</span>
        <span class="text-apellido">Vargas</span>
      </div>
    </div>
    <div class="option-perfil w-100" (click)="togglePerfil = !togglePerfil">
      <span>Mi Perfil</span>
    </div>
  </div>
  <div class="offcanvas-body">
    <div class="user-info" *ngIf="togglePerfil">
      <div class="group-info d-flex gap-3">
        <label for="">Nombre:</label>
        <span>Oreana Vargas</span>
      </div>
      <div class="group-info d-flex gap-3">
        <label for="">DNI:</label>
        <span>Oreana Vargas</span>
      </div>
      <div class="group-info d-flex gap-3">
        <label for="">Fecha de Nacimiento:</label>
        <span>Oreana Vargas</span>
      </div>
    </div>
  </div>

  <div class="offcanvas-body">
    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle option-sidebar"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Preferencias
        </a>
        <ul class="dropdown-menu">
          <li><input type="checkbox" />Amo la moda</li>
          <li><input type="checkbox" />Vivo para viajar</li>
          <li><input type="checkbox" />Apasionada por la comida</li>
          <li><input type="checkbox" /> Soy petiover</li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle option-sidebar"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Categorias
        </a>

        <ul class="dropdown-menu">
          <li>
            <a href="" class="btn">Restaurantes</a>
          </li>
          <li>
            <a href="" class="btn">Moda</a>
          </li>
          <li>
            <a href="" class="btn">Experiencias</a>
          </li>
          <li>
            <a href="" class="btn">Educación</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
