<div class="group-new-to-you">
    <h6>Lo nuevo para tí</h6>
    <div class="row">
        <div class="col">
            <a [routerLink]="['/category']">
                <img class="img-fluid" [src]="img" alt="">
            </a>
        </div>
        <div class="col">
            <img class="img-fluid" [src]="img" alt="">
        </div>
    </div>
</div>

<div class="group-recommended-for-you mt-5">
    <h6>Recomendados para tí</h6>
    <div class="row">
        <div class="col">
            <img class="img-fluid" [src]="img" alt="">
        </div>
        <div class="col">
            <img class="img-fluid" [src]="img" alt="">
        </div>
    </div>
</div>

<div class="group-categories mt-5">
    <div class="row">
        <div class="col-6 mt-3 card-category">
            <h6>Restaurantes y Cafés</h6>
            <img class="img-fluid" [src]="img" alt="">
            <span class="text-description">20% en línea de thermos</span>
        </div>
        <div class="col-6 mt-3 card-category">
            <h6>Moda</h6>
            <img class="img-fluid" [src]="img" alt="">
            <span class="text-description">20% en línea de thermos</span>
        </div>
        <div class="col-6 mt-3 card-category">
            <h6>Experiencias</h6>
            <img class="img-fluid" [src]="img" alt="">
            <span class="text-description">20% en línea de thermos</span>
        </div>
        <div class="col-6 mt-3 card-category">
            <h6>Educación</h6>
            <img class="img-fluid" [src]="img" alt="">
            <span class="text-description">20% en línea de thermos</span>
        </div>
        <div class="col-6 mt-3 card-category">
            <h6>Productos y Servicios</h6>
            <img class="img-fluid" [src]="img" alt="">
            <span class="text-description">20% en línea de thermos</span>
        </div>
        <div class="col-6 mt-3 card-category">
            <h6>Healthy</h6>
            <img class="img-fluid" [src]="img" alt="">
            <span class="text-description">20% en línea de thermos</span>
        </div>
        <div class="col-6 mt-3 card-category">
            <h6>Kids</h6>
            <img class="img-fluid" [src]="img" alt="">
            <span class="text-description">20% en línea de thermos</span>
        </div>
        <div class="col-6 mt-3 card-category">
            <h6>Salud y Belleza</h6>
            <img class="img-fluid" [src]="img" alt="">
            <span class="text-description">20% en línea de thermos</span>
        </div>
    </div>
</div>