<div class="layout-bottom-navigation bg-freshclub">
    <a [routerLink]="['/home']" class="item-bottom-navigation">
        <i class="fa-solid fa-house"></i>
        <span>Home</span>
    </a>
    <a [routerLink]="['/home']" class="item-bottom-navigation">
        <i class="fa-solid fa-ticket"></i>
        <span>Mis cupones</span>
    </a>
    <a [routerLink]="['/home']" class="item-bottom-navigation">
        <i class="fa-solid fa-search"></i>
        <span>Buscador</span>
    </a>
    <a [routerLink]="['/home']" class="item-bottom-navigation">
        <i class="fa-solid fa-user"></i>
        <span>Perfil</span>
    </a>
</div>